.jumbotron {background-color: hsl(157, 95%, 76%);
}
h1 {font-family: 'Merienda', cursive; 
    text-align: center;
}
h3 {font-family: 'Merienda', cursive;
    text-align: center;
}
.a {background-color: lime;
}
.b {background-color: lightpink;
}
.c {background-color: rgb(185, 173, 230);
}
.center {display: block;
    margin-left: auto;
    margin-right: auto;
    width:65%;
}
img{border-radius: 12px;
    padding-bottom: 25px;
}
